<div class="container">
    <main>
        <section class="section-type-border">
            <h1>SOBRE NÓS</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus ducimus facere ad aliquam
                quaerat
                praesentium. Perferendis doloremque temporibus nulla molestias dolorum placeat adipisci dignissimos
                repudiandae aut neque, maiores impedit dolor.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus ducimus facere ad aliquam
                quaerat
                praesentium. Perferendis doloremque temporibus nulla molestias dolorum placeat adipisci dignissimos
                repudiandae aut neque, maiores impedit dolor.</p>
        </section>
        <section class="section-type-border">
            <h1>MISSÃO</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus ducimus facere ad aliquam
                quaerat
                praesentium. Perferendis doloremque temporibus nulla molestias dolorum placeat adipisci dignissimos
                repudiandae aut neque, maiores impedit dolor.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus ducimus facere ad aliquam
                quaerat
                praesentium. Perferendis doloremque temporibus nulla molestias dolorum placeat adipisci dignissimos
                repudiandae aut neque, maiores impedit dolor.</p>

        </section>
        <section class="section-type-border">
            <h1>VISÃO</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus ducimus facere ad aliquam
                quaerat
                praesentium. Perferendis doloremque temporibus nulla molestias dolorum placeat adipisci dignissimos
                repudiandae aut neque, maiores impedit dolor.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus ducimus facere ad aliquam
                quaerat
                praesentium. Perferendis doloremque temporibus nulla molestias dolorum placeat adipisci dignissimos
                repudiandae aut neque, maiores impedit dolor.</p>

        </section>
        <section class="section-type-border">
            <h1>VALORES</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus ducimus facere ad aliquam
                quaerat
                praesentium. Perferendis doloremque temporibus nulla molestias dolorum placeat adipisci dignissimos
                repudiandae aut neque, maiores impedit dolor.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus ducimus facere ad aliquam
                quaerat
                praesentium. Perferendis doloremque temporibus nulla molestias dolorum placeat adipisci dignissimos
                repudiandae aut neque, maiores impedit dolor.</p>

        </section>
    </main>
</div>