<header class="site-header">

    <div class="slider">

        <div class="slide fade">
            <img src="images/developers.jpeg" alt="">
        </div>
        <div class="slide fade">
            <img src="images/languages.webp" alt="">
        </div>
        <div class="slide fade">
            <img src="images/programer.jpg" alt="">
        </div>
    </div>

    <div style="text-align:center;" class="slider-buttons">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
    </div>

</header>

<div class="container">
    <main>
        <section class="section-type-border">
            <div class="post-title">
                <h1>Introdução</h1>
            </div>

            <article>
                <h3>Áreas da programação</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam accusamus iste delectus
                    temporibus quae, sint unde consectetur cumque debitis incidunt,
                    suscipit sit sed necessitatibus aliquam, ut id nemo aliquid voluptas!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit officia unde ducimus magnam
                    earum quas doloribus excepturi expedita reiciendis nisi, tempore, ratione perferendis,
                    consequuntur natus
                    aspernatur velit molestias. Commodi, porro?
                </p>
            </article>

        </section>
        <section class="section-type-border">
            <div class="post-title">
                <h1>Front-End</h1>
            </div>

            <article>
                <h3>O que faz o Front-End</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam accusamus iste delectus
                    temporibus quae, sint unde consectetur cumque debitis incidunt,
                    suscipit sit sed necessitatibus aliquam, ut id nemo aliquid voluptas!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit officia unde ducimus magnam
                    earum quas doloribus excepturi expedita reiciendis nisi, tempore, ratione perferendis,
                    consequuntur natus
                    aspernatur velit molestias. Commodi, porro?
                </p>
            </article>

        </section>
        <section class="section-type-border">
            <div class="post-title">
                <h1>Back-End</h1>
            </div>

            <article>
                <h3>O que faz o Back-End</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam accusamus iste delectus
                    temporibus quae, sint unde consectetur cumque debitis incidunt,
                    suscipit sit sed necessitatibus aliquam, ut id nemo aliquid voluptas!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit officia unde ducimus magnam
                    earum quas doloribus excepturi expedita reiciendis nisi, tempore, ratione perferendis,
                    consequuntur natus
                    aspernatur velit molestias. Commodi, porro?
                </p>
            </article>

        </section>
        <section class="section-type-border">

            <h1 class="post-title">Full Stack</h1>

            <article>
                <h3>O que faz o Full Stack</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam accusamus iste delectus
                    temporibus quae, sint unde consectetur cumque debitis incidunt,
                    suscipit sit sed necessitatibus aliquam, ut id nemo aliquid voluptas!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit officia unde ducimus magnam
                    earum quas doloribus excepturi expedita reiciendis nisi, tempore, ratione perferendis,
                    consequuntur natus
                    aspernatur velit molestias. Commodi, porro?
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, debitis dolor ab quam delectus
                    et magni? Doloremque, cumque! Nesciunt ab quos ipsam! Dolores consequatur
                    perferendis aliquam et non nesciunt aliquid.
                </p>
            </article>

        </section>
    </main>

    <script src="js/sliderScript.js" defer></script>
</div>