<div class="container">
    {{#if message}}
        <p>{{message}}</p>
    {{/if}}
    <form action="/auth/addUser" method="post">
        <div class="text-form">
            <label for="">Nome:</label>
            <input type="text" name="username" class="form-control" autocomplete="off">
        </div>
        <div class="text-form">
            <label for="">Senha:</label>
            <input type="password" name="password" class="form-control">
        </div>
        <button type="submit" class="btn-blue">Cadastrar</button>
    </form>
</div>