$nav-color-text: black;
$border-color: lightgray;
$footer-color: rgb(25, 25, 38);
$footer-text-color: lightgray;
$aside-text-color: rgb(98, 98, 98);
$header-color: rgb(42, 48, 162);
$nav-background: white;
$btn-blue-color: rgb(54, 54, 232);
$btn-green-color: rgb(30, 107, 30);
$input-border: lightgray;
$form-control-shadow: rgb(108, 108, 246);
$dark-theme-background: rgb(20, 21, 41);
$dark-theme-text-color: white;
$message-background: rgb(158, 11, 11);


* {
    box-sizing: border-box;
}


body {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.site-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $header-color;
    color: white;
    width: 100%;
    padding-top: 7%;

    .slider {
        max-width: 100%;
        overflow: visible;
        margin: 0 auto;

        .slide {
            display: none;

            img {
                width: 100%;
                height: 500px;
            }
        }
    }

    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .slider-buttons {
        position: relative;
        top: 90%;
    }

    .active,
    .dot:hover {
        background-color: #717171;
    }

    /* Fading animation */
    .fade {
        animation-name: fade;
        animation-duration: 1.5s;
    }
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid $border-color;
    box-shadow: 0px 0px 16px $border-color;
    padding: 20px 0px 20px 0px;
    position: fixed;
    background-color: $nav-background;
    z-index: 1;
}

.navbar-buttons {
    display: flex;
    justify-content: space-between;
    width: 60%;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0px 0px 0px 15px;
    align-items: center !important;


    .navbar-logo {
        display: flex;
        align-items: center;
        color: #1aab59;
        font-family: cursive;
        font-size: 19pt;
    }

    .navbar-button {

        a {
            text-decoration: none;
            color: $nav-color-text;
            font-size: 14pt;
        }

        .blue-bar {
            border-bottom: 2px solid blue;
            margin: 0px;
            padding: 0px;
            width: 0px;
        }

        &:hover .blue-bar {
            width: 100%;
            transition: width 0.4s ease-in-out;
        }

        &:hover .white-bar {
            width: 100%;
            transition: width 0.4s ease-in-out;
        }
    }
}

.menu {
    display: none;
}

#navbar-dropdown {
    a {
        display: flex;
        align-items: center;
    }

    .fa-solid.fa-caret-down {
        margin-right: 5px;
    }
}

#navbar-dropdown:hover {
    cursor: default;

    .dropdown-content {
        display: block;

        ul {
            list-style: none;
            padding: 0px;

            li {

                a {
                    display: block;
                    padding: 12px 16px 12px 16px;
                }

                &:hover {
                    background-color: lightgray;
                    transition: background-color 0.4s ease-out;
                }
            }

        }
    }

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.mobile-dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}


.modes-for-navegation {
    list-style: none;
    padding: 0px;
    justify-content: flex-end;
    margin: 0px;
    display: flex;
    align-items: center;

    i {
        font-size: 15pt;
        cursor: pointer;
    }

    .fa-sharp.fa-solid.fa-sun {
        color: orange;
        display: none;
    }

}

.modes-and-mobile-menu {
    display: flex;
    gap: 20px;
    padding-right: 10px;
}

.container-center {
    gap: 30px;
    display: flex;
    flex-direction: row;
    padding: 90px 0px 0px 268px;
}

.left-container-center {
    width: 80%;
}

.right-container-container {
    width: 100%;
}


.container {
    padding: 110px 50px 0px 50px;
}

main {
    width: 100%;
}


.section-type-border {
    border: 1px solid $border-color;
    border-top: 2px solid #0F8593;
    margin-top: 10px;
    padding: 20px;
    width: 100%;

    article {
        p {
            word-break: break-all;
        }
    }
}

aside {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: $aside-text-color;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


    ol {
        margin: 0px;
        border-left: 2px solid lightgray;

        li {
            padding: 10px 0px 10px 0px;

            a {
                text-decoration: none;
                color: $aside-text-color;

                &:hover {
                    color: #0F8593;
                }
            }

        }
    }

}


footer {
    background-color: $footer-color;
    margin-top: 30px;
    padding: 80px 0px 80px 0px;

    .social-medias {
        font-size: 20pt;
        display: flex;
        gap: 10px;
        position: absolute;
        flex-direction: column;
        left: 97%;


        .fa-brands.fa-facebook {
            color: $footer-text-color;
        }

        .fa-brands.fa-instagram {
            color: $footer-text-color;
        }

        .fa-brands.fa-github {
            color: $footer-text-color;
        }
    }


    .informations {
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            text-align: center;
            color: $footer-text-color;
        }
    }
}

//PAGES

.page-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(45deg, rgb(65, 65, 199), rgb(26, 119, 159));
    color: white;
    width: 100%;
    padding: 7.6% 0px 0px 0px;
    margin: auto auto;

    h1 {
        padding: 5% 0px 5% 0px;
        margin: auto auto;
    }

}

.search-page-form {
    display: flex;
    align-items: center;
    gap: 10px;

    i {
        font-size: 15pt;
    }

    input {
        margin: 0px;
    }

    button {
        background: none;
        border: none;
        cursor: pointer;
    }

}

.pages-list {
    list-style: none;
    padding: 0;

    li {
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        justify-content: space-between;
    }


    li>a {
        text-decoration: none;
        color: #0F8593;
    }
}

.post-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #1aab59;

    h1 {
        margin: 10px 0px 10px 0px;
    }
}


//FIXED CLASS
.btn-blue {
    background-color: $btn-blue-color;
    border: none;
    font-size: 15pt;
    padding: 13px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    outline: none;

    i {
        padding-right: 5px;
    }

    &:hover {
        opacity: 0.8;
        transition: opacity 0.6s;
    }

    &:focus {
        opacity: 0.8;
        transition: opacity 0.6s;

    }
}


.btn-green {
    background-color: $btn-green-color;
    border: none;
    font-size: 15pt;
    padding: 13px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    outline: none;

    i {
        padding-right: 5px;
    }

    &:hover {
        opacity: 0.8;
        transition: opacity 0.6s;
    }

    &:focus {
        opacity: 0.8;
        transition: opacity 0.6s;

    }
}


.message {
    color: $dark-theme-text-color;
    background-color: $message-background;
    padding: 20px;
    width: 50%;
    border-radius: 10px;
}


.login-message {
    color: $dark-theme-text-color;
    background-color: $message-background;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}


.icons-for-action {
    display: flex;
    gap: 1em;

    .fa-solid.fa-trash {
        color: red;
    }

    .fa-solid.fa-pen-to-square {
        color: orange;
    }
}

.form-control {
    outline: none;
    display: block;
    font-size: 14pt;
    border: 2px solid $border-color;
    border-radius: 5px;
    width: 50%;
    padding: 10px 0px 10px 5px;
    margin-top: 10px;

    &:focus {
        transition: box-shadow 0.4s ease-out;
        box-shadow: 0px 0px 10px $form-control-shadow;
    }
}

.text-form {
    margin-bottom: 20px;
}


//DARK THEME
.dark-input {
    background-color: $dark-theme-background;
    color: white;

    &:focus {
        box-shadow: 0px 0px 12px rgb(114, 114, 114);
    }
}

.dark-text {
    color: rgb(255, 255, 229) !important;
}

.dark-navbar {
    background-color: $dark-theme-background;
    border-bottom: 2px solid black;
    box-shadow: none;

    * {
        color: white;
    }
}

.dark-body {
    background-color: $dark-theme-background;
}
    
.white-bar {
    border-bottom: white solid 2px !important;
}



//LOGIN PAGE

.container-login {
    opacity: 0.9;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-login {
    padding: 40px;
    border: $border-color 1px solid;
    border-radius: 10px;
}

.btn-login {
    margin-top: 10px;
    padding: 8px;
    font-size: 15pt;
    outline: none;
    border-radius: 10px;
    border: none;
    width: 100%;
    background-color: #2e34eb;
    cursor: pointer;
    color: white;

    &:hover,
    &:focus {
        opacity: 0.7;
        transition: opacity 0.3s ease-in-out;
    }

}


.form-control-login {
    width: 100%;
    margin-top: 7px;
    outline: none;
    font-size: 14pt;
    border: 2px solid $border-color;
    border-radius: 5px;
    padding: 10px 0px 10px 5px;

    &:focus,
    &:not(:placeholder-shown) {
        border-color: blue;
        transition: border-color 0.3s ease-in-out;
    }

    &:focus {
        animation: pulseBorderForLoginWhiteInput 2s infinite alternate;
    }
}

// FLOAT LABEL TO LOGIN PAGE

.form-control-login::placeholder {
    opacity: 0.5;
}

.form-control-login~label {
    position: relative;
    color: transparent;
    font-size: 10pt;
    padding: 0px 5px 0px 5px;
}


.form-control-login:focus::placeholder {
    color: transparent;
    transition: color 0.4s ease-out;
}

.form-control-login:placeholder-shown:focus~label,
.form-control-login:not(:placeholder-shown)~label {
    position: relative;
    bottom: 56px;
    left: 10px;
    background-color: white;
    color: blue;
    transition: 0.3s ease-in-out;
}

//DARK LOGIN PAGE

.form-control-dark-login {
    background-color: $dark-theme-background;
    color: $dark-theme-text-color;

    &:focus,
    &:not(:placeholder-shown) {
        border-color: rgb(86, 37, 93);
    }

    &:focus {
        animation: pulseBorderForLoginDarkInput 2s infinite alternate !important;
    }
}

.form-control-dark-login::placeholder {
    color: $dark-theme-text-color;
}

.form-control-dark-login:placeholder-shown:focus~label,
.form-control-dark-login:not(:placeholder-shown)~label {
    background-color: $dark-theme-background;
    color: $dark-theme-text-color;
}

















//ANIMATIONS

@keyframes pulseBorderForLoginWhiteInput {
    from {
        border-color: rgba(0, 0, 255, 0.1);
    }

    to {
        border-color: rgba(0, 0, 255, 1);
    }

}

@keyframes pulseBorderForLoginDarkInput {
    from {
        border-color: rgba(86, 37, 93, 0.1);
    }

    to {
        border-color: rgba(86, 37, 93, 1);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes mobileDropdownAnimation {
    0% {
        opacity: 0;
        right: 100%;
    }

    100% {
        right: 100%;
        opacity: 1;
    }
}

@keyframes arrowDropDownAnimationForMobile {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(90deg);
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}


// MEDIA QUERIES
@media only screen and (max-width: 768px) {

    .navbar {
        position: relative;

        .navbar-button {
            display: none;
        }

        .navbar-logo {
            width: 35%;

        }

        .navbar-buttons {
            width: 100%;
            padding-right: 10px;
        }
    }

    #navbar-dropdown:hover {
        cursor: default;
        display: flex;


        .fa-solid.fa-caret-down {
            animation: arrowDropDownAnimationForMobile 0.5s ease-in-out forwards;
        }

        .dropdown-content {
            animation: mobileDropdownAnimation 0.5s ease-in-out forwards;
            display: block;

            ul {
                list-style: none;
                padding: 0px;
                position: absolute;
                right: 0%;
                background-color: #f9f9f9;


                li {

                    a {

                        padding: 12px 16px 12px 16px;
                    }

                    &:hover {
                        background-color: lightgray;
                        transition: background-color 0.4s ease-out;
                    }
                }

            }
        }

    }

    .fa-solid.fa-bars {
        font-size: 18pt;
    }

    .menu {
        display: inline;


        &:hover {

            .mobile-dropdown-menu {
                display: block;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                right: 10px;
                margin-top: 20px;

                ul {
                    list-style: none;
                    padding: 0px;
                    margin: 0px;

                    li {
                        a {
                            text-decoration: none;
                            color: black;
                            display: block;
                            padding: 12px 16px 12px 16px;

                        }

                        &:hover {
                            background-color: lightgray;
                            transition: background-color 0.4s ease-out;
                        }
                    }
                }
            }
        }
    }

    .container {
        padding-top: 10px;
    }

    .slide {
        img {
            max-height: 350px;
        }
    }

    //PAGES

    .page-header {
        padding: 0px 20px 0px 20px;
    }

    .fa-solid.fa-caret-down {
        color: black;
    }


    //FIXED CLASS
    .form-control {
        width: 100%;
    }

    .message {
        width: 100%;
    }

    .container-login {
        padding: 0px 20px !important;

        h2 {
            text-align: center;
        }
    }

}


@media only screen and (max-width: 1080px) {

    .container-center,
    .container {
        padding-left: 20px;
        padding-right: 20px;
        flex-direction: column;
    }


    .container-login {
        padding-top: 40px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 890px) {
    header {
        img {
            padding: 20px 0px 0px 0px;
        }
    }

    footer {
        .informations {
            flex-direction: column;

            .social-medias {
                left: 0;
                position: relative;
                flex-direction: row;
                gap: 10px;
            }
        }
    }


    .container-login {
        padding-top: 150px;
        margin-bottom: 150px;
    }
}